In [21]:
import pandas as pd
import numpy as np

file_to_load = "Resources/purchase_data.csv"

purchase_data = pd.read_csv(file_to_load)

In [47]:
allPlayers = len(purchase_data["SN"])

In [22]:
players = len(purchase_data["SN"].unique())

In [23]:
players_df = pd.DataFrame([{"Total Players": players}])

In [33]:
players_df

   Total Players
0            576

In [32]:
playerList = purchase_data.loc[:, ["Gender", "SN", "Age"]]
playerList = purchase_data.drop_duplicates(subset=["SN"], keep="first")
playerList

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
5,5,Yalae81,22,Male,81,Dreamkiss,3.61
6,6,Itheria73,36,Male,169,"Interrogator, Blood Blade of the Queen",2.18
7,7,Iskjaskst81,20,Male,162,Abyssal Shard,2.67
8,8,Undjask33,22,Male,21,Souleater,1.10
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58
10,10,Inguron55,23,Male,95,Singed Onyx Warscythe,4.74
11,11,Haisrisuir60,23,Male,162,Abyssal Shard,2.67
12,12,Saelaephos52,21,Male,116,Renewed Skeletal Katana,4.18
13,13,Assjaskan73,22,Male,4,Bloodlord's Fetish,1.70
14,14,Saesrideu94,35,Male,165,Bone Crushing Silver Skewer,4.86
15,15,Lisassa64,21,Female,98,"Deadline, Voice Of Subtlety",2.89
16,16,Lisirra25,20,Male,40,Second Chance,2.52
17,17,Zontibe81,21,Male,161,Devine,1.76
18,18,Reunasu60,22,Female,82,Nirvana,4.90
19,19,Chamalo71,30,Male,89,"Blazefury, Protector of Delusions",4.64
20,20,Iathenudil29,20,Male,57,"Despair, Favor of Due Diligence",4.60
21,21,Phiarithdeu40,20,Male,168,"Sun Strike, Jaws of Twisted Visions",1.48
22,22,Siarithria38,38,Other / Non-Disclosed,24,Warped Fetish,3.81
23,23,Eyrian71,40,Male,151,Severance,3.40
24,24,Siala43,30,Male,141,Persuasion,3.19
25,25,Lisirra87,29,Male,178,"Oathbreaker, Last Hope of the Breaking Storm",4.23
26,26,Lirtossa84,11,Male,71,Demise,1.61
27,27,Eusri44,7,Male,96,Blood-Forged Skeletal Spine,3.09
28,28,Aela59,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",4.32
29,29,Tyida79,24,Male,37,"Shadow Strike, Glory of Ending Hope",3.16
...,...,...,...,...,...,...,...
728,728,Chanosiaya39,44,Male,93,Apocalyptic Battlescythe,1.97
729,729,Assylla81,20,Male,74,Yearning Crusher,4.18
730,730,Aidaira26,30,Male,178,"Oathbreaker, Last Hope of the Breaking Storm",4.23
731,731,Eudanu84,22,Female,12,Dawne,1.02
733,733,Chamiman85,20,Male,66,Victor Iron Spikes,4.40
736,736,Tyialisti80,23,Male,58,"Freak's Bite, Favor of Holy Might",4.14
737,737,Marundi65,22,Male,149,"Tranquility, Razor of Black Magic",1.75
738,738,Eusur90,36,Male,121,Massacre,1.60
739,739,Mindirranya33,35,Male,61,Ragnarok,3.87
741,741,Phiallylis33,19,Male,145,Fiery Glass Crusader,4.58
742,742,Isty55,20,Male,5,Putrid Fan,4.08
743,743,Frichilsa31,15,Male,110,Suspension,1.44
745,745,Chanista95,39,Male,37,"Shadow Strike, Glory of Ending Hope",3.16
746,746,Aellyria80,23,Male,159,"Oathbreaker, Spellblade of Trials",3.08
748,748,Rastynusuir31,20,Male,55,Vindictive Glass Edge,2.27
750,750,Iljask75,22,Male,167,"Malice, Legacy of the Queen",3.61
751,751,Lisjaskan36,11,Male,180,Stormcaller,3.36
752,752,Mindjasksya61,17,Male,112,Worldbreaker,2.60
753,753,Frichirranya75,36,Male,178,"Oathbreaker, Last Hope of the Breaking Storm",4.23
756,756,Ilast79,20,Male,73,Ritual Mace,2.05
757,757,Eratiel90,18,Male,57,"Despair, Favor of Due Diligence",4.60
761,761,Assim27,45,Male,17,"Lazarus, Terror of the Earth",1.70
765,765,Irith83,18,Male,130,Alpha,2.07
769,769,Ilosian36,15,Male,145,Fiery Glass Crusader,4.58
771,771,Iskossasda43,16,Male,25,Hero Cane,4.35
773,773,Hala31,21,Male,19,"Pursuit, Cudgel of Necromancy",1.02
774,774,Jiskjask80,11,Male,101,Final Critic,4.19
775,775,Aethedru70,21,Female,60,Wolf,3.54
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,101,Final Critic,4.19

In [34]:
items = len(purchase_data["Item ID"].unique())
avgPrice = purchase_data["Price"].mean()
totalRevenue = purchase_data["Price"].sum()
numberOfPurchases = purchase_data["Price"].count()

In [35]:
summary_table = pd.DataFrame(columns=["Number of Unique Items",
                                     "Total Revenue",
                                     "Number of Purchases",
                                     "Average Price"])

In [63]:
summary_table.loc[0] = [
    items,
    totalRevenue,
    numberOfPurchases,
    avgPrice
]
summary_table

   Number of Unique Items  Total Revenue  Number of Purchases  Average Price
0                   183.0        2379.77                780.0       3.050987

In [99]:
genderCount = playerList["Gender"].value_counts()
genderPercentage = genderCount/players * 100

In [38]:
gender_df = pd.DataFrame({"Total Count": genderCount, "Percentage of Players": genderPercentage})
gender_df

                       Total Count  Percentage of Players
Male                           484              84.027778
Female                          81              14.062500
Other / Non-Disclosed           11               1.909722

In [39]:
genderPurchaseTotal = purchase_data.groupby(["Gender"]).sum()["Price"]
genderAvgPrice = purchase_data.groupby(["Gender"]).mean()["Price"]
genderPerPerson = genderPurchaseTotal / gender_df["Total Count"]

In [97]:
genderPerPerson

Female                   4.468395
Male                     4.065372
Other / Non-Disclosed    4.562727
dtype: float64

In [ ]:
#genderPerPesonPurchase =genderPerPerson / genderPurchaseTotal
#avg_per_gen

In [ ]:
avgpurchase_price = avg_per_gen * norm_total
avgpurchase_price

In [98]:
gender_summary_table = pd.DataFrame({"Purchase Count": gender_df["Total Count"],"Avg Purchase Price": genderAvgPrice, "Purchase Total": genderPurchaseTotal, "Per Person": genderPerPerson})

gender_summary_table

,Purchase Count,Avg Purchase Price,Purchase Total,Per Person
Female,81,3.203009,361.94,4.468395
Male,484,3.017853,1967.64,4.065372
Other / Non-Disclosed,11,3.346000,50.19,4.562727

In [48]:
bins = [0, 16, 22, 31, 46, 50]
binLabels = ["0 - 15", "16 - 21", "22 - 30", "31 - 45", "45 and Up"]

purchase_data["Age Range"] = pd.cut(purchase_data["Age"], bins, labels=binLabels)
ageCount = purchase_data["Age Range"].value_counts()
agePercentage = ageCount / allPlayers * 100

In [49]:
age_df = pd.DataFrame({"Age Total": ageCount,
                       "Age Percentage": agePercentage})
age_df

           Age Total  Age Percentage
16 - 21          302       38.717949
22 - 30          277       35.512821
0 - 15           116       14.871795
31 - 45           85       10.897436
45 and Up          0        0.000000

In [50]:
purchase_data["Age Range"] = pd.cut(purchase_data["Age"], bins, labels=binLabels)
purchase_data["Age Range"]

0      16 - 21
1      31 - 45
2      22 - 30
3      22 - 30
4      22 - 30
5      16 - 21
6      31 - 45
7      16 - 21
8      16 - 21
9      31 - 45
10     22 - 30
11     22 - 30
12     16 - 21
13     16 - 21
14     31 - 45
15     16 - 21
16     16 - 21
17     16 - 21
18     16 - 21
19     22 - 30
20     16 - 21
21     16 - 21
22     31 - 45
23     31 - 45
24     22 - 30
25     22 - 30
26      0 - 15
27      0 - 15
28     16 - 21
29     22 - 30
        ...
750    16 - 21
751     0 - 15
752    16 - 21
753    31 - 45
754    22 - 30
755     0 - 15
756    16 - 21
757    16 - 21
758    16 - 21
759    22 - 30
760    16 - 21
761    31 - 45
762    22 - 30
763    16 - 21
764    16 - 21
765    16 - 21
766    22 - 30
767     0 - 15
768    31 - 45
769     0 - 15
770    31 - 45
771     0 - 15
772    22 - 30
773    16 - 21
774     0 - 15
775    16 - 21
776    16 - 21
777    16 - 21
778     0 - 15
779    22 - 30
Name: Age Range, Length: 780, dtype: category
Categories (5, object): [0 - 15 < 16 - 21 < 22 - 30 < 31 - 45 < 45 and Up]

In [51]:
ageRangePurchaseTotals = purchase_data.groupby(["Age Range"]).sum()["Price"]
ageRangeAvgPrice = purchase_data.groupby(["Age Range"]).mean()["Price"]
ageRangePurchases = purchase_data.groupby(["Age Range"]).count()["Price"]

In [101]:
ageRangeAvgPurchases = ageRangePurchaseTotals / ageRangePurchases

In [102]:
age_summary_table = pd.DataFrame({"Purchase Count": ageRangePurchases, "Avg Purchase Price": ageRangeAvgPrice, "Purchase Total": ageRangePurchaseTotals, "Avg Purchases": ageRangeAvgPurchases})
age_summary_table

           Purchase Count  Avg Purchase Price  Purchase Total  Avg Purchases
Age Range
0 - 15                116            3.070000          356.12       3.070000
16 - 21               302            3.041689          918.59       3.041689
22 - 30               277            3.030758          839.52       3.030758
31 - 45                85            3.124000          265.54       3.124000
45 and Up               0                 NaN            0.00            NaN

In [84]:
perPlayerPurchaseCount = purchase_data.groupby(["SN"]).count()["Price"]
perPlayerAvgPrice = purchase_data.groupby(["SN"]).mean()["Price"]
perPlayerPurchaseValue = purchase_data.groupby(["SN"]).sum()["Price"]

In [85]:
perPlayerAvgPrice

SN
Adairialis76       2.280000
Adastirin33        4.480000
Aeda94             4.910000
Aela59             4.320000
Aelaria33          1.790000
Aelastirin39       3.645000
Aelidru27          1.090000
Aelin32            2.993333
Aelly27            3.395000
Aellynun67         3.740000
Aellyria80         3.080000
Aelollo59          2.815000
Aenarap34          2.960000
Aeral43            4.400000
Aeral68            4.000000
Aeral97            4.800000
Aeralria27         4.090000
Aeralstical35      2.960000
Aeri84             1.610000
Aerillorin70       3.330000
Aerithllora36      4.320000
Aerithnucal56      4.400000
Aerithnuphos61     4.910000
Aerithriaphos45    1.560000
Aerithriaphos46    2.180000
Aesri53            1.760000
Aesty53            1.955000
Aestysu37          2.690000
Aesur96            2.210000
Aesurstilis64      1.030000
                     ...
Undosia27          3.770000
Undosian34         4.150000
Undotesta33        4.740000
Wailin72           2.730000
Yadacal26          3.270000
Yadaisuir65        4.090000
Yadam35            2.480000
Yadanu52           2.380000
Yadaphos40         2.675000
Yalae81            3.345000
Yalaeria91         1.060000
Yaliru88           3.030000
Yalo85             3.650000
Yalostiphos68      4.400000
Yana46             3.550000
Yarithllodeu72     3.750000
Yarithrgue83       3.450000
Yarithrin84        4.140000
Yarithsurgue62     4.940000
Yarolwen77         4.430000
Yasrisu92          3.440000
Yastyriaphos75     4.750000
Yasur35            4.480000
Yasur85            1.100000
Yathecal72         3.460000
Yathecal82         2.073333
Yathedeu43         3.010000
Yoishirrala98      4.580000
Zhisrisu83         3.945000
Zontibe81          2.676667
Name: Price, Length: 576, dtype: float64

In [86]:
player_summary_table = pd.DataFrame({"Purchases Count": perPlayerPurchaseCount, "Avg Purchase Price": perPlayerAvgPrice, "Purchase Total": perPlayerPurchaseValue})
player_summary_table

                 Purchases Count  Avg Purchase Price  Purchase Total
SN
Adairialis76                   1            2.280000            2.28
Adastirin33                    1            4.480000            4.48
Aeda94                         1            4.910000            4.91
Aela59                         1            4.320000            4.32
Aelaria33                      1            1.790000            1.79
Aelastirin39                   2            3.645000            7.29
Aelidru27                      1            1.090000            1.09
Aelin32                        3            2.993333            8.98
Aelly27                        2            3.395000            6.79
Aellynun67                     1            3.740000            3.74
Aellyria80                     1            3.080000            3.08
Aelollo59                      2            2.815000            5.63
Aenarap34                      1            2.960000            2.96
Aeral43                        1            4.400000            4.40
Aeral68                        1            4.000000            4.00
Aeral97                        1            4.800000            4.80
Aeralria27                     1            4.090000            4.09
Aeralstical35                  1            2.960000            2.96
Aeri84                         1            1.610000            1.61
Aerillorin70                   1            3.330000            3.33
Aerithllora36                  2            4.320000            8.64
Aerithnucal56                  1            4.400000            4.40
Aerithnuphos61                 1            4.910000            4.91
Aerithriaphos45                1            1.560000            1.56
Aerithriaphos46                1            2.180000            2.18
Aesri53                        1            1.760000            1.76
Aesty53                        2            1.955000            3.91
Aestysu37                      2            2.690000            5.38
Aesur96                        1            2.210000            2.21
Aesurstilis64                  1            1.030000            1.03
...                          ...                 ...             ...
Undosia27                      1            3.770000            3.77
Undosian34                     2            4.150000            8.30
Undotesta33                    1            4.740000            4.74
Wailin72                       1            2.730000            2.73
Yadacal26                      2            3.270000            6.54
Yadaisuir65                    1            4.090000            4.09
Yadam35                        1            2.480000            2.48
Yadanu52                       1            2.380000            2.38
Yadaphos40                     2            2.675000            5.35
Yalae81                        2            3.345000            6.69
Yalaeria91                     1            1.060000            1.06
Yaliru88                       1            3.030000            3.03
Yalo85                         1            3.650000            3.65
Yalostiphos68                  1            4.400000            4.40
Yana46                         1            3.550000            3.55
Yarithllodeu72                 1            3.750000            3.75
Yarithrgue83                   1            3.450000            3.45
Yarithrin84                    1            4.140000            4.14
Yarithsurgue62                 1            4.940000            4.94
Yarolwen77                     1            4.430000            4.43
Yasrisu92                      1            3.440000            3.44
Yastyriaphos75                 1            4.750000            4.75
Yasur35                        1            4.480000            4.48
Yasur85                        1            1.100000            1.10
Yathecal72                     1            3.460000            3.46
Yathecal82                     3            2.073333            6.22
Yathedeu43                     2            3.010000            6.02
Yoishirrala98                  1            4.580000            4.58
Zhisrisu83                     2            3.945000            7.89
Zontibe81                      3            2.676667            8.03

[576 rows x 3 columns]

In [ ]:
sort here

In [93]:
itemPurchaseCount = purchase_data.groupby(["Item ID", "Item Name"]).count()["Price"]
itemPrice = purchase_data.groupby(["Item ID", "Item Name"]).mean()["Price"]
itemPurchaseTotal = purchase_data.groupby(["Item ID", "Item Name"]).sum()["Price"]

In [94]:
item_summary_table = pd.DataFrame({"Purchase Count": itemPurchaseCount,"Avg Purchase Price": itemPrice,"Purchase Total": itemPurchaseTotal})


item_summary_table

,,Purchase Count,Avg Purchase Price,Purchase Total
Item ID,Item Name,,,
0,Splinter,4,1.28,5.12
1,Crucifer,3,3.26,9.78
2,Verdict,6,2.48,14.88
3,Phantomlight,6,2.49,14.94
4,Bloodlord's Fetish,5,1.70,8.50
5,Putrid Fan,4,4.08,16.32
6,Rusty Skull,2,3.70,7.40
7,"Thorn, Satchel of Dark Souls",7,1.33,9.31
8,"Purgatory, Gem of Regret",3,3.93,11.79
9,"Thorn, Conqueror of the Corrupted",4,2.73,10.92
10,Sleepwalker,4,1.79,7.16
11,Brimstone,5,3.65,18.25
12,Dawne,6,1.02,6.12
13,Serenity,4,1.41,5.64
14,Possessed Core,2,2.61,5.22
15,Soul Infused Crystal,5,2.96,14.80
16,Restored Bauble,4,3.55,14.20
17,"Lazarus, Terror of the Earth",4,1.70,6.80
18,"Torchlight, Bond of Storms",2,4.65,9.30
19,"Pursuit, Cudgel of Necromancy",8,1.02,8.16
20,Netherbane,5,3.27,16.35
21,Souleater,5,1.10,5.50
22,Amnesia,6,2.18,13.08
23,Crucifer,1,1.99,1.99
24,Warped Fetish,5,3.81,19.05
25,Hero Cane,6,4.35,26.10
26,Unholy Wand,2,1.12,2.24
27,"Riddle, Tribute of Ended Dreams",1,3.30,3.30
28,"Flux, Destroyer of Due Diligence",2,1.06,2.12
29,"Chaos, Ender of the End",5,1.98,9.90
...,...,...,...,...
154,Feral Katana,4,4.40,17.60
155,War-Forged Gold Deflector,5,1.01,5.05
156,Soul-Forged Steel Shortsword,5,1.77,8.85
157,"Spada, Etcher of Hatred",4,4.80,19.20
158,"Darkheart, Butcher of the Champion",2,2.45,4.90
159,"Oathbreaker, Spellblade of Trials",7,3.08,21.56
160,Azurewrath,6,4.40,26.40
161,Devine,5,1.76,8.80
162,Abyssal Shard,5,2.67,13.35
163,Thunderfury Scimitar,5,3.45,17.25
164,Exiled Doomblade,7,1.63,11.41
165,Bone Crushing Silver Skewer,4,4.86,19.44
166,Thirsty Iron Reaver,3,3.07,9.21
167,"Malice, Legacy of the Queen",4,3.61,14.44
168,"Sun Strike, Jaws of Twisted Visions",2,1.48,2.96
169,"Interrogator, Blood Blade of the Queen",4,2.18,8.72
170,Shadowsteel,4,3.97,15.88
171,Scalpel,3,1.79,5.37
172,Blade of the Grave,4,3.14,12.56
173,Stormfury Longsword,2,4.93,9.86
174,Primitive Blade,4,3.47,13.88
175,Woeful Adamantite Claymore,3,4.48,13.44
176,Relentless Iron Skewer,2,2.84,5.68
177,"Winterthorn, Defender of Shifting Worlds",2,2.08,4.16
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.23,50.76
179,"Wolf, Promise of the Moonwalker",6,4.48,26.88
180,Stormcaller,1,3.36,3.36
181,Reaper's Toll,5,1.66,8.30
182,Toothpick,3,4.03,12.09
183,Dragon's Greatsword,3,1.09,3.27

In [95]:
mostPopular = item_summary_table.sort_values("Purchase Count", ascending=False).head(5)
mostPopular

,,Purchase Count,Avg Purchase Price,Purchase Total
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.23,50.76
145,Fiery Glass Crusader,9,4.58,41.22
108,"Extraction, Quickblade Of Trembling Hands",9,3.53,31.77
82,Nirvana,9,4.90,44.10
19,"Pursuit, Cudgel of Necromancy",8,1.02,8.16

In [96]:
mostProfitable = item_summary_table.sort_values("Purchase Total", ascending=False).head(5)
mostProfitable

,,Purchase Count,Avg Purchase Price,Purchase Total
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.23,50.76
82,Nirvana,9,4.90,44.10
145,Fiery Glass Crusader,9,4.58,41.22
92,Final Critic,8,4.88,39.04
103,Singed Scalpel,8,4.35,34.80